input {
    margin-left: 15px;
}

table {
    border-collapse: collapse;
}

td, th {
    width: 80px;
    height: 18px;
    border: 1px solid #000;
    text-align: center;
}
#region-wrapper, #product-wrapper {
    display: inline-block;
    width: 300px;
    height: 100px
}
h4{
    text-align: center;
}
