.wrapper{
    position: relative;
    display: flex;
    width: 90%;
    max-width: 800px;
    padding: 10px
}
.title{
    width: 20%;
    min-width: 130px;
    text-align: center;
    background: #62a8f6;
    color: #fff;
}
.content{
    margin-left: 10px;
    flex: 1;
}

span{
    margin: 0 25px 0 8px
}
p{
    margin-top: 2px;
}
.greeting{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(149, 131, 246, 0.8);
    font-size: 20px;
}