.wrapper{
    display: flex;
    width: 90%;
    max-width: 800px;
    padding: 10px
}
.title{
    width: 20%;
    min-width: 130px;
    text-align: center;
    background: #62a8f6;
    color: #fff;
}
.content{
    margin-left: 10px;
    flex: 1;
}

span{
    margin: 0 25px 0 8px
}
p{
    margin-top: 2px;
}