#content
  position: relative
  width: 960px
  height: 640px
  background: #fff7cd
  #btn
    position: absolute
    top: 50px
    right: 25px
  #status
    position: absolute
    top: 0
    right: 0
    width: 120px
    background: #ddc4dd
    #cash
      display: inline-block
    #spare-seats
      display: inline-block
  #cook
    position: absolute
    top: 0
    left: 0
    width: 500px
    height: 200px
    background: rgba(184, 221, 217, 0.5)
    ul
      list-style: none;
      li
        font-size: 12px 
    img
      position: absolute
      top: 65px
      right: 200px
      width: 100px
    #cook-status
      position: absolute
      top: 40px
      left: 200px
  #seats
    position: absolute
    top: 400px
    left: 400px
    width: 260px
    height: 100px
    background: rgba(115, 127, 255, .8)
    ul
      position: relative
      margin: 0 auto 
      right: -240px
      top: 0
      list-style: none
      li
        margin-left: 20px
        left: 10px
        font-size: 12px
  #queue
    position: absolute
    left: 20px
    top: 280px
    width: 80px
    height: 330px
    background: #ddcf00;
  #waiter
    position: absolute
    top: 50px
    left: 310px
    width: 70px
    height: 150px
    transition: all 0.5s
    img
      position: absolute
      bottom: 0
    p
      position: absolute
      top: 0
      margin: 0 auto
    img
      width: 70px