body,html {
    height: 100%;
}
.wrapper {
    min-width: 510px;
    height: 100%;
    font-size: 0;
}
.left, .middle {
    float: left;
    height: 100%;
    font-size: 16px;
}
.left {
    width: 200px;
    background: red;
}
.middle {
    width: 300px;
    background: green;
}
.right {
    height: 100%;
    font-size: 16px;
    background: blue;
}