/*********************************
*左侧栏固定200px，左浮动，右侧宽度100%*
**********************************/

body,html,.wrapper{
    height: 100%;
}
.left{
    float: left;
    width: 200px;
    height: 100%;
    background: hotpink;
}
.right{
    width: 100%;
    height: 100%;
    background: skyblue;
}