/****************************
左侧栏固定宽度，绝对定位，脱离文档
流，右侧设置padding-left为左侧栏
宽度，border-box。
******************************/
body,html{
    height: 100%;
}
.wrapper{
    position: relative;
    height: 100%;
}
.left{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: blueviolet;
}
.right{
    width: 100%;
    height: 100%;
    padding-left: 200px;
    background: bisque;
    box-sizing: border-box;
}